html,
body {
  height: 100%;
}

.bg{
background-image: url("../IMAGES/gbg2.jpg");
padding-top: 10%;
height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;}

body {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3b3c3d;
}

.h3 {
    color:white;
}

.divtext{
  float: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

label {
  opacity: .7;
  -webkit-text-fill-color: aliceblue;
}

.form-signin .form-control:focus {
  z-index: 2;
}

::-webkit-input-placeholder { 
    -webkit-text-fill-color: aliceblue;
  }

.form-signin input[type="email"] {
  margin-bottom: 10px;
  color: white;
  background-color: rgb(109, 108, 103) ;
  border: 0 ;
  opacity: .7 ;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  color: white;
  background-color: rgb(109, 108, 103) ;
  border: 0 ;
  opacity: .7 ;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  color: white;
  background-color: rgb(109, 108, 103) ;
  border: 0 ;
  opacity: .7 ;
}

.btn-primary{
  background-color: rgb(255, 52, 105);
  border: 0;
}

.btn-primary:hover{
    background-color: rgb(236, 49, 121);
    border-color: white;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: rgb(255, 52, 105);
  border-color: rgb(255, 52, 105);
}
